@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Serif:wght@300&family=Satisfy&display=swap');

body{
  background-color: rgb(191, 182, 192);
  margin: 0;
  padding: 0;
}

.flexbox{
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100%;
  background-color: rgb(149, 121, 156);
  color: white;
  font-family: 'Satisfy', cursive;
  border-bottom: 20px;
}

nav{
       display: inline-block;
       background-color: rgb(149, 121, 156);
       width: 100%;
       height: 100px;
       color: white;
       font-family: 'Roboto', serif;
      
   }

.nav-bar{
       display: flexbox;
       float: left; 
       color: white;
       font-family: 'Roboto', serif;
       padding: 30px;
       text-decoration: none;
}     

.nav-bar:hover{
  background-color: rgb(191, 182, 192);
}

.about{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: white;
  margin: 30px;
  margin-top: 20px;
  font-family: 'Roboto', serif;
  border-radius: 30px;
  padding: 30px;
}

.project{
  background-color: white;
  margin: 30px;
  margin-top: 20px;
  font-family: 'Roboto', serif;
  border-radius: 30px;
  padding: 30px;
}

.me{
  border-radius: 500px;
  max-height: 300px;
  max-width: auto;
  padding: 30px;
}

.Proyectos{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: white;
  margin: 30px;
  margin-top: 20px;
  font-family: 'Roboto', serif;
  border-radius: 30px;
  padding: 30px;
}

.titulo{
  font-family: 'Bebas Neue', cursive; 
  background-color: rgba(255, 255, 255, 0); 
  font-size: 100px; 
  color:rgb(149, 121, 156); 
  margin-left: 50px;
  margin-top: 50px;
}

.subtitulo{
  font-family: 'Bebas Neue', cursive; 
  background-color: white; 
  font-size: 40px; 
  color:rgb(149, 121, 156); 
  padding-left: 20px;
}


.parrafo{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: white;
  font-family: 'Roboto', serif;

}

footer{
  display: inline-flex;
  height: 100px;
  justify-content: center;
  width: 100%;
  background-color: rgb(149, 121, 156);
  color: white;
  font-family: 'Satisfy', cursive;
  border-bottom: 20px;
}

.icon{
background-color: rgba(149, 121, 156, 0);
size: 50px;
text-decoration: none;
}

.instagram_1{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 50px;
}

.instagram_2{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 50px;
}


a{
  text-decoration: none;
  color: rgb(191, 182, 192);
}

@media(max-width: 475px){
  footer{
   width: 100%;
  }

  .nav-bar{
display: flex;
flex-wrap: nowrap;
flex-direction: column;
width: 100%;
padding: 15px;
  }

  .about{
    display: block;
    background-color: white;
    margin: 30px;
    margin-top: 20px;
    font-family: 'Roboto', serif;
    border-radius: 30px;
    padding: 5px;
  }

  .titulo{
    font-size: 40px;
  }

  .project{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 30px;
    margin-top: 20px;
    font-family: 'Roboto', serif;
    border-radius: 30px;
    padding: 5px;
  }

.instagram_1{
  width: 10px;
  max-height: auto;
  padding: 3px;
}

.instagram_2{
  width: 10px;
  max-height: auto;
  padding: 3px;
}

.flexbox{
  height: 200px;
  justify-content: center;
}

}